.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font: 'Montserrat';
    color: white;
}

input {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

input:hover {
    background: #dac4ee;
}

#header, #submit-button {
    text-align: center;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 50px;
    /* background: #8e2de2; */
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 10px;
    margin: 5px;
}
