.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

input:hover {
    box-shadow: 0px 0px 70px 1px #fff
}

.upload-photo {
    color:#8e2de2;
    font-size: 9pt;
    font-weight: 900;
}

.fields {
    /* background: #8e2de2; */
    color: #fff;
    border-radius: 50%;
    padding: 4px 4px;
}
.custom-file-upload {
    font-family: system-ui;
}

#signup-header {
    text-align: center;
    width: 29%;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-family: system-ui;
    font-size: 25px;
    margin: 5px;
    text-shadow: 0 0 3px #fff;
}

.imgPreview {
    width: auto;
    height:60px;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}


.text-input {
    margin-right: 42px;
}
