html,body {
    margin: 0;
}

.midSection {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:30px;
}

.midSectionTitles {
    text-transform: uppercase;
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21.5px;
    text-align: center;
    line-height: 20px;
}

.midSectionBlocks {
    font-size: 18px;
    line-height: 1.45;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    width: 284px;
}

.midSectionBlocks p {
    color: #555;
    font-size: 18px;
    line-height: 1.45;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
}

.img-container {
    position:relative;
    overflow: hidden;
    height: 500px;
    width: 100vw;
}

.carouselImg {
    width: 100%;
    height: 100%;
}

.textOverPicture {
    position: relative;
}

.category {
    font-size: 18px;
    color: #333;
    margin-left: 15px;;
}

#pictureText {
    position: absolute;
    text-transform: uppercase;
    font-size:35px;
    font-weight:700;
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    color: white;
    top:80px;
    left: 10px;
    width: 440px;
}

#pictureSmallText {
    position: absolute;
    font-size: 18px;
    line-height: 1.45;
    top:120px;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    color: white;
    left: 10px;
    width:440px;
}

#picture-top {
    position: absolute;
    top:68px;
    left:10px;
    border-top: 1mm solid white;
    border-bottom: none;
    width:435px;
}

#picture-bottom {
    position: absolute;
    top:195px;
    left:10px;
    border-top: 1mm solid white;
    border-bottom: none;
    width:435px;
}

hr #divider {
    border-top-color: #ccc;
    margin: 15px 2.5vw 30px;
}
