html,body {
    margin: 0;
    overflow: hidden;
}

.midSection {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:30px;
}

.midSectionTitles {
    font-family: system-ui;

    font-weight: 700;
    font-size: 21.5px;
    text-align: center;
    line-height: 20px;
}

.midSectionBlocks {
    font-size: 18px;
    line-height: 1.45;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    width: 284px;
}

.midSectionBlocks p {
    color: #555;
    font-size: 18px;
    line-height: 1.45;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
}

.img-container {
    position:relative;
    overflow: hidden;
    height: 500px;
    width: 100vw;
}

.carouselImg {
    width: 800px;
    height: 480px;
}

.textOverPicture {
    position: relative;
}

.category {
    font-size: 18px;
    color: #333;
    margin-left: 15px;
}

.fa-info-circle {
    position: absolute;
    z-index: 1;
    margin: 5px;
    color: #EEEEEE;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgb(0 0 0 / 14%);
}

#pictureText {
    position: absolute;
    font-family: system-ui;
    font-size:35px;
    font-weight:700;
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
    top:80px;
    left: 10px;
    width: 440px;
}

#pictureSmallText {
    position: absolute;
    font-size: 18px;
    line-height: 1.45;
    top:120px;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    color: white;
    text-shadow: 0px 0px 10px 1px #fff;
    /* text-shadow: 0 0 20px black; */
    left: 10px;
    width:440px;
}

#picture-top {
    position: absolute;
    top:58px;
    left:10px;
    border-top: 1mm solid white;
    border-bottom: none;
    width:289px;
    box-shadow: 0px 0px 10px 1px #fff;
}

#picture-bottom {
    position: absolute;
    top:155px;
    left:10px;
    border-top: 1mm solid white;
    border-bottom: none;
    width:289px;
    box-shadow: 0px 0px 10px 1px #fff;
}

hr #divider {
    border-top-color: #ccc;
    margin: 15px 2.5vw 30px;
}
