  #modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,183,222,1) 0%, rgba(62,213,242,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 0.89;
    height: 245px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 70px 1px rgb(54 183 207)
  }

  .signup-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,183,222,1) 0%, rgba(62,213,242,1) 0%, rgba(0,0,0,1) 100%);    background-size: 342px 615px;
    height: 450px;
    width: 340px;
    margin-bottom:300px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgb(54 183 207)
  }

  .profile-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,183,222,1) 0%, rgba(62,213,242,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 0.89;
    height: 423px;
    width: 320px;
    margin-bottom:330px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgb(54 183 207)
  }

  .profile-modal-no-content {
    display:none
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 10px;
  }

  form input {
    margin:5px;
    border-radius: 5px;
    border-style:solid;
    height: auto;
  }

  #username, #password {
    text-align: center;
    font-weight: bold;
  }
