  #modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:107px;
    left: 220px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,183,222,1) 0%, rgba(62,213,242,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 0.89;
    height: 245px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 70px 1px rgb(54 183 207)
  }

  .signup-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,26,26,1) 0%, rgba(0,10,11,1) 100%);
    height: 455px;
    width: 358px;
    top: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgba(236,26,26,1)
  }

  .addCar-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,172,6,1) 0%, rgba(0,10,11,1) 100%);
    height: 450px;
    width: 358px;
    top: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgba(255,172,6,1)
  }

  .profile-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,183,222,1) 0%, rgba(62,213,242,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 0.89;
    height: -webkit-fill-available;
    max-height: 423px;
    width: -webkit-fill-available;
    max-width: 400px;
    top:25px;
    left: 165px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgb(54 183 207)
  }

  .car-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(132,7,238);
    background: linear-gradient(90deg, rgba(132,7,238,1) 0%, rgba(0,0,15,1) 100%, rgba(0,10,11,1) 100%);
    opacity: 0.89;
    height: 423px;
    width: 320px;
    top:35px;
    left: 195px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgba(132,7,238,1)
  }

  .about-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(251,251,251,1) 0%, rgba(152,153,154,1) 100%);
    height: 450px;
    width: 640px;
    top: 15px;
    left: 47px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgba(152,153,154,1)
  }

  .gps-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(251,251,251,1) 0%, rgba(152,153,154,1) 100%);
    height: 66px;
    width: 727px;
    left: 42px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 1px rgba(152,153,154,1)
  }

  .profile-modal-no-content {
    display:none
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 10px;
  }

  form input {
    margin:5px;
    border-radius: 5px;
    border-style:solid;
    height: auto;
  }
