.map {
    position: relative;
}

.dash {
    position: absolute;
    z-index: -1;
}

.detailed-directions-main {
    position: absolute;
    font-family: system-ui;
    z-index: 1;
    top: 69px;
    left: 177px;
    color:white;
}

.detailed-directions-header {
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 3pc #fff;

}

#map-speed {
    position: fixed;
    color: white;
    top: 371px;
    left: 380px;
    font-size: 78px;
    text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}

#map-speed-2digit {
    position: fixed;
    color: white;
    top: 371px;
    left: 360px;
    font-size: 78px;
    text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}

#map-speed-100 {
    position: fixed;
    color: white;
    top: 371px;
    left: 336px;
    font-size: 78px;
    text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}


.step-by-step-directions-container {
    display: flex;
}
