.map {
    position: relative;
}

.dash {
    position: absolute;
    z-index: -1;
}

#map-speed {
    position: fixed;
    color: white;
    top: 371px;
    left: 380px;
    font-size: 78px;
    text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}
