/* #loading-path {
  position: absolute;
  z-index: 1000545;
} */

.track {
    stroke-width: 1;
    stroke: lightgrey;
    fill: none;
}

.progress {
    stroke-width: 30;
    stroke: url(#linearColors);
    stroke-linecap: round;
    fill: none;
    transform: rotate(0deg);
    transform-origin: center;
}

#progress-bar {
  position: fixed;
  fill:white
}

#svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

#speedometer-button {
    margin-left: 5px;
}

.circular-chart {
  display: block;
  position:  fixed;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  bottom: 117px;
  left: 24%;
  rotate:(30deg);
  transform:rotate(-90 100 100);
}

.circle {
    stroke: url(#linearColors);
    fill: none;
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.speedometer-fill {
	fill: url(#linearColors);
}

.loading-circle {
    fill: url(#linearColors);
}

.warning-container {
    position: fixed;
    z-index: 2;
    top: 408px;
    left: 200px;
}

.warnings {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  border:none;
  box-shadow:
    inset 0 0 10px #fff,      /* inner white */
    inset 20px 0 80px rgb(45, 48, 36),   /* inner left magenta short */
    inset -20px 0 80px rgb(179, 241, 7),  /* inner right cyan short */
    inset 20px 0 300px rgb(10, 238, 67),  /* inner left magenta broad */
    inset -20px 0 100px rgb(247, 3, 3), /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    0px 0 20px rgb(248, 250, 247),        /* outer left magenta */
    0px 0 30px rgb(255, 38, 0);
}

#loading-path {
  position: absolute;
  z-index: -1;
}

#svg-container {
  position: absolute;
  z-index: 1;
  overflow: visible;
}

#svg-path {
  stroke-width: 39px;
  stroke: url(#linearColors);
  fill: none;
}

.toggle-arduino-container {
  position: absolute;
  z-index: 1;
  margin: 20px 10px;
}


.toggle {
  position : relative ;
  display : inline-block;
  width: 114px;
  height: 52px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXkNwCzGnYwgsZu-brfXQynSW_o2dLq1fD8A&usqp=CAU');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: '';
  position: absolute;
  width: 52px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  top: 1px;
  left: 1px;
  transition:  all 0.3s;
}

.checkbox:checked + .toggle::after {
  left : 61px;
}

.checkbox:checked + .toggle {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSGEdW5wlMwOFEy71niBUM-u0-CWF3NY2aFg&usqp=CAU');
  background-size: auto 40px;
  background-position: left;
}

.checkbox {
  display : none;
}

.speed-slide-container {
  width: 176px;
  position: absolute;
  left: 3px;
  top: 418px;
}

.slider {
  width: 90%; /* Full-width */
  background: #fdfcfc; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {

  background-image: url('https://s1.cdn.autoevolution.com/images/gallery/MAZDA-626--Mk-3--Sedan-923_6.jpg');
  width: 100%;
  height: 24px;
  border: 0;
  cursor: pointer;
}

input:hover {
  box-shadow: none;
}

.manual-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
}

.speed-slide-container > input {
  margin: 0;
}

.manual-warnings-list {
  color: white;
  font-family: system-ui;
  text-shadow:  0 0 3px #fff;
  font-size: 18px;
}
