.track {
    stroke-width: 1;
    stroke: lightgrey;
    fill: none;
}

.progress {
    stroke-width: 30;
    stroke: url(#linearColors);
    stroke-linecap: round;
    fill: none;
    transform: rotate(0deg);
    transform-origin: center;
}

#svg {
    position: relative;
}

#speedometer-button {
    margin-left: 5px;
}

.circular-chart {
  display: block;
  position:  fixed;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  bottom: 117px;
  left: 24%;
  rotate:(30deg);
  transform:rotate(-90 100 100);
}

.circle {
    stroke: url(#linearColors);
    fill: none;
    stroke-width: 3.2;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.speedometer-fill {
	fill: url(#linearColors);
}

.loading-circle {
    fill: url(#linearColors);
}
