#svg {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

#speed {
    position: fixed;
	color: white;
	top: 183px;
    left: 380px;
	font-size: 78px;
	text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}

#left-gauge {
	position: fixed;
	z-index: 2;
	width: 70px;
	height: 100px;
	bottom: 800;
}

.speedometer-fill {
	fill: url(#linearColors);
}
