html {
	background-color: #333333;
}

/* .full-dash {
	display: flex;
	justify-content: center;
	align-content: center;

} */

#svg {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

#speed {
    position: fixed;
	color: white;
    bottom: 110px;
    left: 361px;
	font-size: 78px;
	text-shadow: 1px 1px 4px #fff, 1px 1px 10px #ccc;
}

#left-gauge {
	position: fixed;
	z-index: 2;
	width: 70px;
	height: 100px;
	bottom: 800;
}
