@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Work+Sans:wght@200;300;500;800&display=swap" rel="stylesheet");
.menu {
   margin: auto;
   position: absolute;
   top: 50px;
   left: 705px;
   width: 50px;
   height: 50px;
   text-align: center;
   box-sizing: border-box;
   font-size: 16px;
   z-index: 1;
}

a {
    color: inherit;
}

.menu-item,
.menu-open-button {
   background: #EEEEEE;
   border-radius: 100%;
   width: 40px;
   height: 40px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 40px;
   transform: translate3d(0, 0, 0);
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
   display: none;
}

.lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   transform: translate3d(0, 0, 0);
}

.line-3 {
   transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:hover {
   box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   box-shadow:
   inset 0 0 50px rgb(68, 66, 66),
   inset 20px 0 80px rgb(10, 10, 10),
   inset -20px 0 80px #0ff,
   inset 20px 0 300px rgb(10, 10, 10),
   inset -20px 0 300px #0ff,
   0 0 50px #fff,
   -10px 0 80px rgb(12, 12, 12),
   10px 0 80px rgb(191, 6, 247);
}

.menu-item:nth-child(3) {
   transition-duration: 180ms;
}

.menu-item:nth-child(4) {
   transition-duration: 180ms;
}

.menu-item:nth-child(5) {
   transition-duration: 180ms;
}

.menu-item:nth-child(6) {
   transition-duration: 180ms;
}

.menu-item:nth-child(7) {
   transition-duration: 180ms;
}

.menu-item:nth-child(8) {
   transition-duration: 180ms;
}


.menu-open-button {
   z-index: 2;
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-duration: 400ms;
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
   transform: scale(1, 1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
   transition-timing-function: linear;
   transition-duration: 200ms;
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 180ms;
   transform: translate3d(24.9466px, -44.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 280ms;
   transform: translate3d(60.9466px, 6.52414px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 380ms;
   transform: translate3d(31.9466px, 56.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
   transition-duration: 480ms;
   transform: translate3d(-24.91639px, 55.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
   transition-duration: 580ms;
   transform: translate3d(-62.86291px, 6.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
   transition-duration: 680ms;
   transform: translate3d(-32.03006px, -45.33095px, 0);
}

.blue {
   background-color: #bbdb47;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
   color: #669AE1;
   text-shadow: none;
}

.green {
   background-color: #53cfbf;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}


.red {
   background-color: #4fdd67;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.menu-item:hover {
   color: #f5f1f2;
   text-shadow: none;
}

.purple {
   background-color: #bd69f5;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}


.orange {
   background-color: #fca83a;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}


.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
}

.credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}

.credit a:hover {
   text-decoration: underline;
}


#gps-modal {
   position: absolute;
   z-index: 15;
}
