.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.profilePic {
    /* background-image: url('../../public/profileImages/1.png'); */
    background-size: 89px auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
    border-radius: 50%;
    margin: 5px;
}

#header {
    color: white;
    size: 30px;
}
